# Dependabot will run on day 11 of each month at 03:04 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "4 3 11 * *"
    open-pull-requests-limit: 20
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "4 3 11 * *"
    open-pull-requests-limit: 20
